openapi: 3.1.1
info:
  description: |
    The [Entropy Data](https://www.entropy-data.com) API allows you to integrate with your data platform.
    
    You can manage data products, data usage agreements, data contracts, and teams. You can also approve, reject, or cancel data usage agreements. 
    
    You can observe any changes to data products, data usage agreements, data contracts, and teams via events by polling an [HTTP Feed](https://www.http-feeds.org/). 
    
    You need an API key for every operation. You can generate the API key within the UI in the organization settings.

    ## Pagination

    List endpoints return paginated results. Use the `p` query parameter (0-indexed) to request a specific page. The response body is a plain JSON array — there is no wrapper object.

    Pagination metadata is provided via the HTTP `Link` header with `rel="next"` ([RFC 5988](https://tools.ietf.org/html/rfc5988)). If a `Link` header with `rel="next"` is present, there are more results available on the next page. If it is absent, you have reached the last page.

    **Tip:** Use `curl -i` or check response headers in your HTTP client to see the `Link` header.
  version: 0.0.3
  title: REST-API
  contact:
    name: support
    email: support@entropy-data.com
  termsOfService: https://entropy-data.com/terms-of-service
externalDocs:
  description: Documentation
  url: https://docs.entropy-data.com
servers:
  - url: https://api.entropy-data.com
  - url: https://localhost:8080
tags:
  - name: Data Products
    description: Data Products implement Data Contracts. They provide the actual data via output ports, and link to source systems via input ports.
  - name: Data Contracts
    description: >
      Data Contracts are the API for Data. An output port can implement a data contract. A data contract can be implemented by multiple output ports.
      Entropy Data uses the [Open Data Contract Standard (ODCS)](https://bitol-io.github.io/open-data-contract-standard/) as its primary format.
      The [Data Contract Specification (DCS)](https://datacontract-specification.com) is still supported but deprecated and will be removed after 2026-12-31. We recommend migrating existing DCS contracts to ODCS.
    externalDocs:
      description: Open Data Contract Standard (ODCS)
      url: https://bitol-io.github.io/open-data-contract-standard/
  - name: Access
    description: Access (formerly known as "Data Usage Agreements") represents the edges in the graph. They connect a consuming data product with an output port of a providing data product. When active, the consumer should be able to access the data.
  - name: Source Systems
    description: Source Systems are the systems that provide data to the data products. They are connected to the data products via input ports.
  - name: Teams
    description: Teams are the organizational unit in the Entropy Data. They own data products, source systems, data contracts, and definitions.
  - name: Notification Channels
    description: Team-scoped notification channels for receiving alerts about data platform events. Each team can configure channels for different event types.
  - name: Definitions
    description: Definitions specify a reusable business or technical term, including its type, description, examples, and classifications. Definitions can be referenced from within Data Contracts.
  - name: Schemas
    description: >-
      JSON Schemas that data contracts (ODCS) and data products (ODPS) validate against.
      Each specification is available as the pristine base standard (`odcs.schema.json`) and as the
      organization's custom variant (`odcs-custom.schema.json`), which layers the constraints from
      the organization's customization onto the base schema via `allOf`. The custom variant is the
      schema the data contract editor validates against; use it to validate documents before
      submitting them via the API.
  - name: Assets
    description: EXPERIMENTAL A data asset refers to any data-related resource or entity that can be managed and tracked within the system, such as a database table, file, or data pipeline.
  - name: Certifications
    description: Certifications define quality levels that can be assigned to data products. They are organization-level governance constructs.
  - name: Classifications
    description: Classification schemes define sensitivity tiers (e.g. Public, Internal, Sensitive) that can be assigned to data products, data contracts, and semantic concepts. An organization can define one or more schemes; each is addressed by its stable externalId and carries its tiers inline.
  - name: Tags
    description: Tags can be applied to data products, data contracts or assets and are unique.
  - name: Policies
    description: EXPERIMENTAL Manage the policies of your data mesh. Policies are the rules of play of the data mesh.
  - name: Costs
    description: EXPERIMENTAL Expenses of data products, e.g., storage, compute, maintenance, and data transfer costs. The expenses can be automatically extracted from cloud provider billing APIs via our integrations.
  - name: Usage
    description: EXPERIMENTAL Usage information data product usage and query activity. Submit traces via OpenTelemetry/JSON format to monitor queries, consumers, and access patterns.
  - name: Lineage
    description: EXPERIMENTAL OpenLineage event ingestion. Compatible with dbt-ol, Airflow, Spark, and other OpenLineage producers. Set OPENLINEAGE_URL to your Entropy Data instance.
  - name: SCIM
    description: System for Cross-domain Identity Management (SCIM) endpoints for user and group provisioning and management.
  - name: Integrations
    description: Native integrations that ingest assets from external data platforms (Snowflake, Databricks, BigQuery, Postgres, MySQL, MariaDB, MSSQL, Glue, Alation, Fabric, Power BI). List configured integrations, inspect their provider-specific configuration as YAML, view past ingestion runs, and trigger or cancel a manual run.
  - name: Connectors
    description: EXPERIMENTAL Used by SDK and connectors. Use this API to store state (such as the lastEventId) and update health information.
  - name: Example Data
    description: EXPERIMENTAL Sample data for data products to preview what the data looks like.
  - name: Test Results
    description: EXPERIMENTAL Results of test runs of a data contract against a server (e.g., output port of a data product). The test runs van be executed using the Data Contract CLI tool.
  - name: Semantics
    description: EXPERIMENTAL Manage semantic namespaces, concepts (entities, properties, shared properties, metrics, groups), and relationships. Paths live under `/api/semantics/experimental/` to signal that the shape may change without backwards-compatibility guarantees while the semantics subsystem stabilizes. Payloads follow the semantics YAML schema so clients can map between JSON and YAML representations with minimal translation.
  - name: Events
    description: Events are emitted when one of the core resource are created, updated, or deleted. There may be additional events like special state changes, as well.
  - name: Team Git Credentials
    description: Git credentials scoped to a team for authenticating with Git repositories.
    externalDocs:
      description: Credential Resolution Hierarchy
      url: https://docs.entropy-data.com/howto/git-integration#credential-resolution-hierarchy
  - name: Organization Git Credentials
    description: Git credentials scoped to the organization for authenticating with Git repositories.
    externalDocs:
      description: Credential Resolution Hierarchy
      url: https://docs.entropy-data.com/howto/git-integration#credential-resolution-hierarchy
  - name: Organization
    description: Organization and its members.
  - name: Team Roles
    description: >-
      Configure how team permissions are derived: from the built-in default
      roles (Owner, Approver, Editor, Member, Steward) or from a custom role
      catalog you define. The `/api/settings/team-roles` endpoint reads and sets
      the mode and, when custom, the catalog in one aggregate payload.
  - name: API Keys
    description: Manage API keys for programmatic access. Only team-scoped API keys can be created and deleted via this API.
paths:
  /api/dataproducts:
    get:
      tags:
        - Data Products
      summary: Get all data products
      description: Get all data products of an organization. For performance reasons, this endpoint may return only top-level properties of the data products. Use the GET /api/dataproducts/{id} endpoint to get all details.
      operationId: getDataProducts
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: false
          example: my-dataproduct
          description: Search term to filter data products. Searches in the id, title, and description. Multiple search terms are supported, separated by space.
        - in: query
          name: teamId
          schema:
            type: string
          required: false
          example: my-team
          description: Filter for data products owned by specific teams. Repeat the parameter to filter by multiple teams.
        - in: query
          name: domainId
          schema:
            type: string
          required: false
          example: sales
          description: Filter for data products in specific domains. Repeat the parameter to filter by multiple domains.
        - in: query
          name: archetype
          schema:
            type: string
          required: false
          example: application
          description: Filter for specific types.
        - in: query
          name: status
          schema:
            type: string
          example: active
          required: false
          description: Filter for specific status.
        - in: query
          name: tag
          schema:
            type: string
          required: false
          description: Filter for specific tags.
        - in: query
          name: sort
          schema:
            type: string
          example: name
          required: false
          description: Field to sort by, default is creation date.
        - in: query
          name: p
          schema:
            type: integer
            minimum: 0
          example: 0
          required: false
          description: The number of the requested page, starting from 0. Each page contains a maximum of 1000 data products, sorted by creation date ascending. Use the Link header with rel="next" to navigate to the next page.
      responses:
        200:
          description: List of data products. This endpoints supports [Open Data Product Standard](https://github.com/bitol-io/open-data-product-standard) or [Data Product Specification](https://dataproduct-specification.com) payloads. You find both formats in the schemas below.. Explore the examples and schema specifications for differences between the two formats. When using the SDK you have to handle parsing into the correct schema object by yourself. We recommend using the "kind" property in ODPS and/or the "dataProductSpecification" property in DPS to detect the current payload.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: See endpoint
              example: [
                {
                  "apiVersion": "v1.0.0",
                  "kind": "DataProduct",
                  "id": "shelf-warmers",
                  "name": "Shelf Warmers",
                  "status": "active",
                  "authoritativeDefinitions": [ ],
                  "description": {
                    "purpose": "A list of articles with no sales in last 6 months"
                  },
                  "customProperties": [
                    {
                      "property": "platformRole",
                      "value": "dp_shelf_warmers_role"
                    }
                  ],
                  "tags": [
                    "demo"
                  ],
                  "inputPorts": [ ],
                  "outputPorts": [
                    {
                      "name": "shelf-warmers-v1",
                      "version": "",
                      "description": "A list of articles with no sales in last 6 months",
                      "type": "snowflake",
                      "contractId": "ec9c94cd-6126-4fed-96aa-36df336aed0d",
                      "authoritativeDefinitions": [
                        {
                          "type": "Snowflake WebUI",
                          "url": "https://example.com"
                        }
                      ],
                      "customProperties": [
                        {
                          "property": "platformRole",
                          "value": "op_shelf_warmers_v1_role"
                        },
                        {
                          "property": "status",
                          "value": "active"
                        },
                        {
                          "property": "autoApprove",
                          "value": true
                        },
                        {
                          "property": "containsPii",
                          "value": false
                        },
                        {
                          "property": "server",
                          "value": {
                            "schema": "SHELF_WARMERS",
                            "account": "lmtrwxs-xn14859",
                            "database": "FULFILLMENT_DB"
                          }
                        },
                        {
                          "property": "environment",
                          "value": "prod"
                        }
                      ],
                      "tags": [ ]
                    },
                    {
                      "name": "s3_fulfillment_shelf_warmers",
                      "version": "",
                      "description": "A list of articles with no sales in last 6 months",
                      "type": "s3",
                      "contractId": "ec9c94cd-6126-4fed-96aa-36df336aed0d",
                      "authoritativeDefinitions": [
                        {
                          "type": "AWS Console",
                          "url": "https://example.com"
                        }
                      ],
                      "customProperties": [
                        {
                          "property": "platformRole",
                          "value": "op_shelf_warmers_s3_fulfillment_shelf_warmers_role"
                        },
                        {
                          "property": "status",
                          "value": "active"
                        },
                        {
                          "property": "autoApprove",
                          "value": true
                        },
                        {
                          "property": "containsPii",
                          "value": false
                        },
                        {
                          "property": "server",
                          "value": {
                            "location": "s3://my-bucket"
                          }
                        },
                        {
                          "property": "environment",
                          "value": "prod"
                        }
                      ],
                      "tags": [ ]
                    }
                  ],
                  "managementPorts": [ ],
                  "team": {
                    "name": "fulfillment"
                  }
                },
                {
                  "dataProductSpecification": "0.0.1",
                  "id": "shelf-warmers",
                  "info": {
                    "title": "Shelf Warmers",
                    "description": "A list of articles with no sales in last 6 months",
                    "owner": "fulfillment",
                    "status": "active",
                    "archetype": "consumer-aligned"
                  },
                  "inputPorts": [ ],
                  "outputPorts": [
                    {
                      "id": "shelf-warmers-v1",
                      "name": "Shelf Warmers",
                      "description": "A list of articles with no sales in last 6 months",
                      "type": "snowflake",
                      "environment": "prod",
                      "server": {
                        "schema": "SHELF_WARMERS",
                        "account": "lmtrwxs-xn14859",
                        "database": "FULFILLMENT_DB"
                      },
                      "status": "active",
                      "autoApprove": false,
                      "containsPii": false,
                      "dataContractId": "shelf-warmers-v1",
                      "tags": [ ],
                      "links": {
                        "Snowflake WebUI": "https://example.com"
                      },
                      "custom": {
                        "platformRole": "op_shelf_warmers_v1_role"
                      },
                      "assets": [ ]
                    }
                  ],
                  "tags": [
                    "demo"
                  ],
                  "links": { },
                  "custom": {
                    "platformRole": "dp_shelf_warmers_role"
                  },
                  "assets": [ ]
                }
              ]
  /api/dataproducts/{id}:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this data product, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    put:
      tags:
        - Data Products
      summary: Add or update a data product
      description: Add a new data product or update an existing data product. Usually, the CI/CD pipeline of your data product calls this operation during its deployment. This endpoints supports [Open Data Product Standard](https://github.com/bitol-io/open-data-product-standard) or [Data Product Specification](https://dataproduct-specification.com) payloads. You find both formats in the schemas below.. Explore the examples and schema specifications for differences between the two formats. When using the SDK you have to handle parsing into the correct schema object by yourself. We recommend using the "kind" property in ODPS and/or the "dataProductSpecification" property in DPS to detect the current payload.
      operationId: addDataProduct
      responses:
        200:
          description: data product successfully registered or updated
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: data product cannot be updated due to invalid data
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
            examples:
              dataproductspecification:
                $ref: "#/components/examples/dataproductspecification"
              opendataproductstandard:
                $ref: "#/components/examples/opendataproductstandard"
    get:
      parameters:
        - name: id
          in: path
          description: An organizational unique technical identifier for this data product, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
          required: true
          schema:
            type: string
      tags:
        - Data Products
      summary: Get a data product
      description: Get a data product by its ID. The data product contains all its output ports. This endpoints supports [Open Data Product Standard](https://github.com/bitol-io/open-data-product-standard) or [Data Product Specification](https://dataproduct-specification.com) payloads. You find both formats in the schemas below.. Explore the examples and schema specifications for differences between the two formats. When using the SDK you have to handle parsing into the correct schema object by yourself. We recommend using the "kind" property in ODPS and/or the "dataProductSpecification" property in DPS to detect the current payload.
      operationId: getDataProduct
      responses:
        200:
          description: The data product
          content:
            'application/json':
              schema:
                type: object
              examples:
                dataproductspecification:
                  $ref: "#/components/examples/dataproductspecification"
                opendataproductstandard:
                  $ref: "#/components/examples/opendataproductstandard"
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
    delete:
      summary: Delete a data product
      operationId: deleteDataProduct
      description: Deletes a data product by its ID. The data product must not be used in an active access.
      tags:
        - Data Products
      responses:
        200:
          description: Data product was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: data product cannot be deleted, e.g. when it is still used in an active access.
  /api/dataproducts/{id}/star:
    parameters:
      - name: id
        in: path
        description: The externalId of the data product.
        required: true
        schema:
          type: string
    get:
      tags:
        - Data Products
      summary: Get the star status of a data product
      description: Returns the total number of stars across the organization and whether the calling user has starred it. `starredByMe` is only meaningful for user-scoped API keys; it is `false` for organization- and team-scoped keys.
      operationId: getDataProductStar
      responses:
        200:
          description: The star status.
          content:
            'application/json':
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of stars across the organization.
                  starredByMe:
                    type: boolean
                    description: Whether the calling user has starred this data product.
                required:
                  - count
                  - starredByMe
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
    put:
      tags:
        - Data Products
      summary: Star a data product
      description: Star a data product as the calling user. Idempotent — starring an already-starred product returns 204. Requires a user-scoped API key, because a star belongs to a user; organization- and team-scoped keys are rejected.
      operationId: starDataProduct
      responses:
        204:
          description: The data product is starred by the calling user.
        403:
          $ref: "#/components/responses/Forbidden"
          description: The API key is not user-scoped.
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
    delete:
      tags:
        - Data Products
      summary: Unstar a data product
      description: Remove the calling user's star from a data product. Idempotent — unstarring a product that is not starred returns 204. Requires a user-scoped API key.
      operationId: unstarDataProduct
      responses:
        204:
          description: The calling user's star was removed (or was already absent).
        403:
          $ref: "#/components/responses/Forbidden"
          description: The API key is not user-scoped.
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
  /api/dataproducts/{id}/stargazers:
    parameters:
      - name: id
        in: path
        description: The externalId of the data product.
        required: true
        schema:
          type: string
    get:
      tags:
        - Data Products
      summary: List the stargazers of a data product
      description: List the users who have starred a data product, newest star first. Restricted to organization owners.
      operationId: getDataProductStargazers
      responses:
        200:
          description: The users who starred the data product.
          content:
            'application/json':
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                    fullName:
                      type: string
                      nullable: true
                  required:
                    - userId
        403:
          $ref: "#/components/responses/Forbidden"
          description: Only organization owners may list stargazers.
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
  /api/dataproducts/import/git:
    post:
      tags:
        - Data Products
      summary: Import a data product from a Git repository
      description: |
        Fetches a YAML file from a Git repository, creates or updates a data product, and establishes a Git connection.
        Credentials are resolved either explicitly via `gitCredentialExternalId` or implicitly via `gitConnectionType`/`host` matching through the credential hierarchy.
      operationId: importDataProductFromGit
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitImportRequest'
      responses:
        201:
          description: Data product created and git connection established
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Credential with the specified `gitCredentialExternalId` not found
        409:
          $ref: "#/components/responses/Conflict"
          description: File is already connected to a data product
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: No git credentials found or invalid YAML
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/dataproducts/{id}/gitconnection:
    parameters:
      - name: id
        in: path
        description: The data product ID.
        required: true
        schema:
          type: string
    get:
      tags:
        - Data Products
      summary: Get the git connection of a data product
      description: Returns the git connection details including sync status and web link.
      operationId: getDataProductGitConnection
      responses:
        200:
          description: Git connection details
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product or git connection not found
    put:
      tags:
        - Data Products
      summary: Create or update a git connection for a data product
      description: |
        Creates or updates the git connection for a data product.
        Credentials are resolved either explicitly via `gitCredentialExternalId` or implicitly via `gitConnectionType`/`host` matching through the credential hierarchy.
      operationId: putDataProductGitConnection
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitConnectionRequest'
      responses:
        200:
          description: Git connection created or updated
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Credential with the specified `gitCredentialExternalId` not found
        409:
          $ref: "#/components/responses/Conflict"
          description: File is already connected to another data product
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: No git credentials found
    delete:
      tags:
        - Data Products
      summary: Delete the git connection of a data product
      description: Removes the git connection. The data product itself is not affected.
      operationId: deleteDataProductGitConnection
      responses:
        200:
          description: Git connection deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product not found
  /api/dataproducts/{id}/gitconnection/pull:
    parameters:
      - name: id
        in: path
        description: The data product ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Products
      summary: Pull data product from Git
      description: Fetches the latest version of the YAML file from the Git repository and updates the data product.
      operationId: pullDataProductFromGit
      responses:
        200:
          description: Data product updated from Git
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or invalid YAML
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/dataproducts/{id}/gitconnection/push:
    parameters:
      - name: id
        in: path
        description: The data product ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Products
      summary: Push data product to Git
      description: Pushes the current data product YAML to the connected Git repository.
      operationId: pushDataProductToGit
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitPushRequest'
      responses:
        200:
          description: Data product pushed to Git
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or no YAML content
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/dataproducts/{id}/gitconnection/push-pr:
    parameters:
      - name: id
        in: path
        description: The data product ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Products
      summary: Push data product to Git as a pull request
      description: |
        Creates a new branch, commits the current data product YAML, and opens a pull request
        targeting the original branch. Supports GitHub, GitLab, Bitbucket, and Azure DevOps.
        For GitLab, a merge request is created instead of a pull request.
        All parameters are optional and have sensible defaults from the git connection settings.
      operationId: pushDataProductToGitAsPullRequest
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitPullRequestRequest'
      responses:
        200:
          description: Pull request created
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data product or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or no YAML content
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/datacontracts:
    get:
      tags:
        - Data Contracts
      summary: Get all data contracts
      operationId: getDataContracts
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: false
          example: my-datacontract
          description: Search term to filter data contracts. Searches in the id, title, and description. Multiple search terms are supported, separated by space
        - in: query
          name: owner
          schema:
            type: string
          required: false
          deprecated: true
          example: my-team
          description: 'Deprecated: use `teamId` instead. Filter for specific owners by team name.'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          deprecated: true
          description: 'Deprecated: use `domainId` instead. Filter for specific domains by domain name.'
        - in: query
          name: teamId
          schema:
            type: string
          required: false
          example: my-team
          description: Filter for specific owners. Repeat the parameter to filter by multiple teams.
        - in: query
          name: domainId
          schema:
            type: string
          required: false
          example: sales
          description: Filter for specific domains. Repeat the parameter to filter by multiple domains.
        - in: query
          name: tag
          schema:
            type: string
          required: false
          description: Filter for specific tags.
        - in: query
          name: status
          schema:
            type: string
          required: false
          example: active
          description: Filter for specific status values (e.g., active, draft, deprecated).
        - in: query
          name: sort
          schema:
            type: string
          required: false
          description: Field to sort by, default is creation date.
        - in: query
          name: p
          schema:
            type: integer
            minimum: 0
          example: 0
          required: false
          description: The number of the requested page, starting from 0. Each page contains a maximum of 1000 data contracts, sorted by creation date ascending. The data contracts are the JSON structure of the internal YAML structure in Open Data Contract Standard (ODCS) format. Data Contract Specification (DCS) format is still supported but deprecated (removal after 2026-12-31). Use the Link header with rel="next" to navigate to the next page.
      responses:
        200:
          description: List of data contracts
          content:
            application/json:
              schema:
                type: array
                example: [
                  {
                    "apiVersion": "v3.1.0",
                    "kind": "DataContract",
                    "id": "fulfillment_shipments_v1",
                    "name": "Shipments",
                    "version": "1.0.0",
                    "domain": "sales",
                    "status": "draft",
                    "description": {
                      "purpose": "This data can be used for analytical purposes",
                      "usage": "Use this to analyze shipments",
                      "limitations": "Not suitable for real-time use cases",
                      "authoritativeDefinitions": [
                        {
                          "type": "Data Guidelines",
                          "url": "https://example.com/data-guidelines.html"
                        }
                      ],
                      "customProperties": [
                        {
                          "property": "github_link",
                          "value": "https://github.example.com/shipment-specification.yaml"
                        }
                      ]
                    },
                    "customProperties": [
                      {
                        "property": "additionalField",
                        "value": "some value"
                      }
                    ],
                    "schema": [
                      {
                        "name": "shipments",
                        "physicalType": "table",
                        "physicalName": "shipments",
                        "tags": [
                          "shipments",
                          "datacontracttests:enabled"
                        ],
                        "quality": [
                          {
                            "type": "sql",
                            "description": "Table shall contain at least 1 row",
                            "query": "SELECT COUNT(*) FROM shipments",
                            "mustBeGreaterThan": 0
                          }
                        ],
                        "properties": [
                          {
                            "name": "shipment_id",
                            "logicalType": "string",
                            "description": "Unique identifier for each shipment.",
                            "required": false,
                            "unique": false,
                            "physicalType": "uuid",
                            "primaryKey": true,
                            "partitioned": false,
                            "criticalDataElement": false,
                            "quality": []
                          },
                          {
                            "name": "order_id",
                            "logicalType": "string",
                            "description": "Identifier for the order associated with the shipment.",
                            "required": true,
                            "unique": false,
                            "physicalType": "text",
                            "primaryKey": false,
                            "partitioned": false,
                            "criticalDataElement": false,
                            "quality": []
                          },
                          {
                            "name": "delivery_date",
                            "logicalType": "date",
                            "description": "The actual or expected delivery date of the shipment.",
                            "required": false,
                            "unique": false,
                            "physicalType": "timestamp_tz",
                            "primaryKey": false,
                            "partitioned": false,
                            "criticalDataElement": false,
                            "quality": []
                          },
                          {
                            "name": "carrier",
                            "logicalType": "string",
                            "description": "The shipping carrier used for the delivery.",
                            "required": false,
                            "unique": false,
                            "physicalType": "text",
                            "primaryKey": false,
                            "partitioned": false,
                            "criticalDataElement": false,
                            "quality": []
                          },
                          {
                            "name": "tracking_number",
                            "logicalType": "string",
                            "description": "Tracking number provided by the carrier.",
                            "required": false,
                            "unique": false,
                            "physicalType": "text",
                            "primaryKey": false,
                            "partitioned": false,
                            "classification": "restricted",
                            "criticalDataElement": false,
                            "quality": [],
                            "customProperties": [
                              {
                                "property": "external",
                                "value": "true"
                              }
                            ]
                          },
                          {
                            "name": "status",
                            "logicalType": "string",
                            "description": "Current status of the shipment.",
                            "required": false,
                            "unique": false,
                            "physicalType": "text",
                            "primaryKey": false,
                            "partitioned": false,
                            "criticalDataElement": false,
                            "quality": []
                          },
                          {
                            "name": "inline_object_definition",
                            "logicalType": "object",
                            "description": "A JSON representation of additional shipment info",
                            "required": false,
                            "unique": false,
                            "physicalType": "json",
                            "primaryKey": false,
                            "partitioned": false,
                            "partitionKeyPosition": -1,
                            "criticalDataElement": false,
                            "quality": [
                              {
                                "type": "text",
                                "description": "{field} must contain the field \"destination\""
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "servers": [
                      {
                        "server": "production",
                        "type": "bigquery",
                        "environment": "production",
                        "dataset": "shipments_v1",
                        "project": "acme_shipments_prod"
                      }
                    ],
                    "support": [
                      {
                        "channel": "slackname",
                        "url": "http://find.me.here",
                        "tool": "slack",
                        "scope": "interactive"
                      }
                    ],
                    "authoritativeDefinitions": [
                      {
                        "type": "Guidelines",
                        "url": "https://example.com/guidelines"
                      }
                    ],
                    "price": {
                      "priceAmount": 1,
                      "priceCurrency": "EUR",
                      "priceUnit": "Per 1000 requests"
                    },
                    "team": {
                      "name": "sales-team",
                      "members": [
                        {
                          "username": "vimportant",
                          "role": "administrator",
                          "dateIn": "2020-01-01"
                        },
                        {
                          "username": "nimportant",
                          "role": "reader",
                          "dateIn": "2020-01-01",
                          "dateOut": "2024-10-10"
                        }
                      ]
                    },
                    "slaProperties": [
                      {
                        "property": "availability",
                        "value": "95%",
                        "unit": "%",
                        "driver": "operational"
                      }
                    ]
                  },
                  {
                    "_comment": "DEPRECATED: Data Contract Specification (DCS) format. Support will be removed after 2026-12-31. Migrate to ODCS.",
                    "dataContractSpecification": "1.1.0",
                    "id": "customer-cohorts",
                    "info": {
                      "title": "Customer Cohorts",
                      "version": "1.0.0",
                      "description": "A table with customer cohorts and their properties",
                      "status": "active",
                      "owner": "marketing",
                      "contact": {
                        "name": "Justice Sukie",
                        "email": "justice.sukie@demo5jGf8I0v7bMRIU33qRdaY2.entropy-data.com"
                      }
                    },
                    "terms": {
                      "usage": "Max. 10x queries per day",
                      "limitations": "Not suitable for real-time use cases",
                      "billing": "$1000 / month",
                      "noticePeriod": "P3M"
                    },
                    "models": {
                      "customer_cohorts": {
                        "description": "Table containing customer cohorts information.",
                        "title": "Customer Cohorts",
                        "fields": {
                          "customer_id": {
                            "type": "string",
                            "required": true
                          },
                          "cohort_id": {
                            "type": "string",
                            "description": "Identifier for the cohort the customer belongs to.",
                            "required": true
                          },
                          "cohort_name": {
                            "type": "string",
                            "description": "Name of the cohort."
                          }
                        }
                      }
                    }
                  }
                ]
                items:
                  $ref: '#/components/schemas/DataContract'
  /api/datacontracts/{id}:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this data contract, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    put:
      tags:
        - Data Contracts
      operationId: addDataContract
      summary: Add or update a data contract. The data contract is the JSON structure of the internal YAML structure in Open Data Contract Standard (ODCS) format. Data Contract Specification (DCS) format is still accepted but deprecated (removal after 2026-12-31).
      responses:
        200:
          description: data contract successfully registered or updated
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: >-
            Data contract cannot be created or updated due to invalid data.
            The owner field is mandatory and must reference an existing team ID.
            For ODCS, set 'team.name' (ODCS 3.1.0+), a custom property 'owner', or 'domain' to a valid team ID.
            For the deprecated Data Contract Specification (DCS), set 'info.owner' to a valid team ID.
            If the provided team ID does not match any known team in the organization, a 422 error is returned.
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              example: {
                "apiVersion": "v3.1.0",
                "kind": "DataContract",
                "id": "customer-cohorts",
                "name": "Customer Cohorts",
                "version": "1.0.0",
                "domain": "marketing",
                "status": "active",
                "description": {
                  "purpose": "A table with customer cohorts and their properties",
                  "usage": "Max. 10x queries per day",
                  "limitations": "Not suitable for real-time use cases"
                },
                "schema": [
                  {
                    "name": "customer_cohorts",
                    "physicalType": "table",
                    "properties": [
                      {
                        "name": "customer_id",
                        "logicalType": "string",
                        "description": "Unique customer identifier.",
                        "required": true,
                        "primaryKey": true
                      },
                      {
                        "name": "cohort_id",
                        "logicalType": "string",
                        "description": "Identifier for the cohort the customer belongs to.",
                        "required": true
                      },
                      {
                        "name": "cohort_name",
                        "logicalType": "string",
                        "description": "Name of the cohort."
                      },
                      {
                        "name": "start_date",
                        "logicalType": "date",
                        "description": "Start date of the cohort."
                      },
                      {
                        "name": "end_date",
                        "logicalType": "date",
                        "description": "End date of the cohort."
                      }
                    ]
                  }
                ],
                "team": {
                  "name": "marketing"
                }
              }
              $ref: '#/components/schemas/DataContract'
    get:
      tags:
        - Data Contracts
      summary: Get a data contract
      description: Get a data contract by its ID. The data contract is the JSON structure of the internal YAML structure in Open Data Contract Standard (ODCS) format. Data Contract Specification (DCS) format is still supported but deprecated (removal after 2026-12-31).
      operationId: getDataContract
      responses:
        200:
          description: The data contract
          content:
            'application/json':
              schema:
                example: {
                  "apiVersion": "v3.1.0",
                  "kind": "DataContract",
                  "id": "customer-cohorts",
                  "name": "Customer Cohorts",
                  "version": "1.0.0",
                  "domain": "marketing",
                  "status": "active",
                  "description": {
                    "purpose": "A table with customer cohorts and their properties",
                    "usage": "Max. 10x queries per day",
                    "limitations": "Not suitable for real-time use cases"
                  },
                  "schema": [
                    {
                      "name": "customer_cohorts",
                      "physicalType": "table",
                      "properties": [
                        {
                          "name": "customer_id",
                          "logicalType": "string",
                          "description": "Unique customer identifier.",
                          "required": true,
                          "primaryKey": true
                        },
                        {
                          "name": "cohort_id",
                          "logicalType": "string",
                          "description": "Identifier for the cohort the customer belongs to.",
                          "required": true
                        },
                        {
                          "name": "cohort_name",
                          "logicalType": "string",
                          "description": "Name of the cohort."
                        },
                        {
                          "name": "start_date",
                          "logicalType": "date",
                          "description": "Start date of the cohort."
                        },
                        {
                          "name": "end_date",
                          "logicalType": "date",
                          "description": "End date of the cohort."
                        }
                      ]
                    }
                  ],
                  "team": {
                    "name": "marketing"
                  }
                }
                $ref: '#/components/schemas/DataContract'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
    delete:
      summary: Delete a data contract
      operationId: deleteDataContract
      tags:
        - Data Contracts
      responses:
        200:
          description: Data contract was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: data contract cannot be deleted, e.g. when it is still used in an output port of a data product
  /api/datacontracts/{id}/datacontract.yaml:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this data contract, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    get:
      tags:
        - Data Contracts
      summary: Get the datacontract.yaml for a data contract in its original format (ODCS or deprecated DCS)
      operationId: getDataContractYaml
      responses:
        200:
          description: The datacontract.yaml
          content:
            'application/yaml':
              example: |-
                apiVersion: v3.1.0
                kind: DataContract
                id: search-queries
                name: Search Queries v2
                version: 1.0.0
                domain: search
                description:
                  purpose: All search queries with user interactions v2
                team:
                  name: my-team
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
  /api/datacontracts/{id}/test:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Contracts
      summary: Run a data contract test
      description: |
        Runs a data contract test by sending the data contract YAML to the configured
        Data Contract CLI API endpoint. The test results are saved and returned.
        Requires that Data Contract Tests are enabled and configured for the organization.
      operationId: testDataContract
      parameters:
        - in: query
          name: server
          schema:
            type: string
          required: false
          description: The server name to test against. Required if the data contract has multiple servers configured.
      responses:
        200:
          description: Test results
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TestResults'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Data Contract Tests are not configured for this organization, or test execution failed
  /api/datacontracts/{id}/generate:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Contracts
      summary: Generate code from a data contract
      description: |
        Generate code artifacts from an ODCS (Open Data Contract Standard) data contract.
        Supports SQL, dbt, JSON Schema, Pydantic, and AI-powered custom code generation.
        Only works with data contracts using the ODCS specification type.
      operationId: generateDataContractCode
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GenerateRequest'
      responses:
        200:
          description: Successfully generated code
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GenerateResponse'
        400:
          $ref: "#/components/responses/BadRequest"
          description: Invalid generation type or missing prompt for custom generation
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Data contract is not ODCS type or YAML parsing failed
  /api/datacontracts/import/git:
    post:
      tags:
        - Data Contracts
      summary: Import a data contract from a Git repository
      description: |
        Fetches a YAML file from a Git repository, creates or updates a data contract, and establishes a Git connection.
        Credentials are resolved either explicitly via `gitCredentialExternalId` or implicitly via `gitConnectionType`/`host` matching through the credential hierarchy.
      operationId: importDataContractFromGit
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitImportRequest'
      responses:
        201:
          description: Data contract created and git connection established
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Credential with the specified `gitCredentialExternalId` not found
        409:
          $ref: "#/components/responses/Conflict"
          description: File is already connected to a data contract
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: No git credentials found or invalid YAML
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/datacontracts/{id}/gitconnection:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    get:
      tags:
        - Data Contracts
      summary: Get the git connection of a data contract
      description: Returns the git connection details including sync status and web link.
      operationId: getDataContractGitConnection
      responses:
        200:
          description: Git connection details
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract or git connection not found
    put:
      tags:
        - Data Contracts
      summary: Create or update a git connection for a data contract
      description: |
        Creates or updates the git connection for a data contract.
        Credentials are resolved either explicitly via `gitCredentialExternalId` or implicitly via `gitConnectionType`/`host` matching through the credential hierarchy.
      operationId: putDataContractGitConnection
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitConnectionRequest'
      responses:
        200:
          description: Git connection created or updated
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Credential with the specified `gitCredentialExternalId` not found
        409:
          $ref: "#/components/responses/Conflict"
          description: File is already connected to another data contract
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: No git credentials found
    delete:
      tags:
        - Data Contracts
      summary: Delete the git connection of a data contract
      description: Removes the git connection. The data contract itself is not affected.
      operationId: deleteDataContractGitConnection
      responses:
        200:
          description: Git connection deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract not found
  /api/datacontracts/{id}/gitconnection/pull:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Contracts
      summary: Pull data contract from Git
      description: Fetches the latest version of the YAML file from the Git repository and updates the data contract.
      operationId: pullDataContractFromGit
      responses:
        200:
          description: Data contract updated from Git
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or invalid YAML
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/datacontracts/{id}/gitconnection/push:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Contracts
      summary: Push data contract to Git
      description: Pushes the current data contract YAML to the connected Git repository.
      operationId: pushDataContractToGit
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitPushRequest'
      responses:
        200:
          description: Data contract pushed to Git
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or no YAML content
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/datacontracts/{id}/gitconnection/push-pr:
    parameters:
      - name: id
        in: path
        description: The data contract ID.
        required: true
        schema:
          type: string
    post:
      tags:
        - Data Contracts
      summary: Push data contract to Git as a pull request
      description: |
        Creates a new branch, commits the current data contract YAML, and opens a pull request
        targeting the original branch. Supports GitHub, GitLab, Bitbucket, and Azure DevOps.
        For GitLab, a merge request is created instead of a pull request.
        All parameters are optional and have sensible defaults from the git connection settings.
      operationId: pushDataContractToGitAsPullRequest
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/GitPullRequestRequest'
      responses:
        200:
          description: Pull request created
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GitConnectionResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Data contract or git connection not found
        422:
          $ref: "#/components/responses/UnprocessableEntity"
          description: Git setting not found, uses user-level auth, or no YAML content
        502:
          $ref: "#/components/responses/BadGateway"
          description: Error communicating with the Git provider
  /api/access:
    get:
      tags:
        - Access
      summary: Get all access resources
      operationId: getAccessList
      parameters:
        - in: query
          name: p
          schema:
            type: integer
            minimum: 0
          required: false
          description: The number of the requested page, starting from 0. Access resources are sorted by creation date ascending. Use the Link header with rel="next" to navigate to the next page.
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 2
            maximum: 10000
            default: 1000
          required: false
          description: The number of access resources returned per page. Must be between 2 and 10000.
        - in: query
          name: providerDataProductId
          schema:
            type: string
          required: false
          description: Filter access resources by provider data product ID. Only returns agreements where this data product is the provider.
        - in: query
          name: consumerDataProductId
          schema:
            type: string
          required: false
          description: Filter access resources by consumer data product ID. Only returns agreements where this data product is the consumer.
        - in: query
          name: consumerType
          schema:
            type: string
            enum: [team, user, dataproduct]
          required: false
          description: Filter access resources by consumer type (team, user, or dataproduct).
      responses:
        200:
          description: List of access resources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Access'
  /api/access/{id}:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    put:
      tags:
        - Access
      summary: Add or update an access resource. Does not send notification emails.
      operationId: addAccess
      responses:
        200:
          description: access successfully created or updated
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Access'
    get:
      tags:
        - Access
      summary: Get a access resource
      operationId: getAccess
      responses:
        200:
          description: The acess resource
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Access'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
    delete:
      summary: Delete an access resource
      operationId: deleteAccess
      tags:
        - Access
      responses:
        200:
          description: Access was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/approve:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Approve a requested access. Does not send notification emails.
      operationId: approveAccess
      responses:
        200:
          description: Access request successfully approved
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/reject:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Rejects an access request. Does not send notification emails.
      operationId: rejectAcess
      responses:
        200:
          description: Access request successfully rejected
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/cancel:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Cancels an approved access to get deactivated at a specified end date (can be now). Does not send notification emails.
      operationId: cancelAccess
      responses:
        200:
          description: Access successfully canceled
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/provisioning-started:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that provisioning has started
      description: |
        Records that the external component has begun creating the grant in the data platform.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportProvisioningStarted
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningStartedReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/provisioning-succeeded:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that provisioning succeeded
      description: |
        Records that the grant now exists and the consumer can access the data.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportProvisioningSucceeded
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningSucceededReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/provisioning-failed:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that provisioning failed
      description: |
        Records that the grant could not be created. Send the reason in `diagnostics`; it is shown on the access page and mailed to the provider team.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportProvisioningFailed
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningFailedReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/deprovisioning-started:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that deprovisioning has started
      description: |
        Records that the external component has begun removing the grant.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportDeprovisioningStarted
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningStartedReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/deprovisioning-succeeded:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that deprovisioning succeeded
      description: |
        Records that the grant has been removed and the consumer no longer has access.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportDeprovisioningSucceeded
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessDeprovisioningSucceededReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning/deprovisioning-failed:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    post:
      tags:
        - Access
      summary: Report that deprovisioning failed
      description: |
        Records that the grant could not be removed, so access may still exist. Send the reason in `diagnostics`; it is mailed to the provider team.

        Accepted from any provisioning state: the reporting component owns this state, so no
        transition is ever rejected as illegal and the latest report wins. Fields omitted from the
        body keep their previous value.
      operationId: reportDeprovisioningFailed
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningFailedReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/access/{id}/provisioning:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this access resource, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        schema:
          type: string
    get:
      tags:
        - Access
      summary: Get the provisioning state of an access resource
      description: Returns the provisioning state most recently reported by the external component that creates the grant.
      operationId: getAccessProvisioning
      responses:
        200:
          description: The current provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found, or no provisioning has been reported for it.
    put:
      tags:
        - Access
      summary: Replace the provisioning state of an access resource
      description: |
        Replaces the whole provisioning record. Unlike the transition endpoints, fields absent from
        the payload are cleared — this is for components that reconcile against their platform and
        then declare the resulting state rather than reporting individual transitions.

        A payload whose `status` differs from the stored one emits the same event and writes the same
        audit-trail entry as the equivalent transition endpoint. A payload with an unchanged `status`
        is treated as a metadata correction: no event, no audit-trail entry.
      operationId: putAccessProvisioning
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/AccessProvisioningReport'
      responses:
        200:
          description: The updated provisioning state.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AccessProvisioning'
        400:
          description: The status is missing or not one of the known provisioning states.
        404:
          $ref: "#/components/responses/NotFound"
          description: Access not found
  /api/teams:
    get:
      tags:
        - Teams
      summary: Get all teams
      operationId: getTeams
      parameters:
        - in: query
          name: p
          schema:
            type: integer
            minimum: 0
          required: false
          description: The number of the requested page, starting from 0. Each page contains a maximum of 1000 teams, sorted by creation date ascending. Use the Link header with rel="next" to navigate to the next page.
        - in: query
          name: email
          schema:
            type: string
          required: false
          example: jane.doe@example.com
          description: Only return teams the user with this email address is a direct member of (case-insensitive). Parent or child teams are not included. Returns an empty list if no user with this email address exists.
      responses:
        200:
          description: List of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
  /api/teams/{id}:
    parameters:
      - name: id
        in: path
        description: An organizational unique technical identifier for this team, such as an UUID, URN, string, number. Format must be a valid path parameter for GET and DELETE requests, so no URI or '/' allowed.
        required: true
        example: marketing
        schema:
          type: string
    put:
      tags:
        - Teams
      summary: Add or update a team
      operationId: addTeam
      responses:
        200:
          description: team successfully created or updated
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Team'
    get:
      tags:
        - Teams
      summary: Get a team
      operationId: getTeam
      responses:
        200:
          description: The team
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Team'
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
    delete:
      summary: Delete a team
      operationId: deleteTeam
      tags:
        - Teams
      responses:
        200:
          description: Team was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
  /api/teams/{teamId}/notification-channels:
    parameters:
      - name: teamId
        in: path
        description: Team identifier
        required: true
        example: marketing
        schema:
          type: string
    get:
      tags:
        - Notification Channels
      summary: List a team's notification channels
      operationId: getNotificationChannels
      responses:
        200:
          description: The team's notification channels
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationChannel'
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
  /api/teams/{teamId}/notification-channels/{channelId}:
    parameters:
      - name: teamId
        in: path
        description: Team identifier
        required: true
        example: marketing
        schema:
          type: string
      - name: channelId
        in: path
        description: Notification channel identifier
        required: true
        example: slack-alerts
        schema:
          type: string
    put:
      tags:
        - Notification Channels
      summary: Add or update a notification channel for a team
      operationId: putNotificationChannel
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/NotificationChannel'
      responses:
        200:
          description: Notification channel successfully created or updated
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
    get:
      tags:
        - Notification Channels
      summary: Get a team's notification channel
      operationId: getNotificationChannel
      responses:
        200:
          description: The notification channel
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        404:
          $ref: "#/components/responses/NotFound"
          description: Team or notification channel not found
    delete:
      tags:
        - Notification Channels
      summary: Delete a team's notification channel
      operationId: deleteNotificationChannel
      responses:
        200:
          description: Notification channel was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Team or notification channel not found
  /api/teams/{teamExternalId}/gitcredentials:
    parameters:
      - name: teamExternalId
        in: path
        description: The external identifier of the team
        required: true
        example: marketing
        schema:
          type: string
    get:
      tags:
        - Team Git Credentials
      summary: Get all git credentials for a team
      description: Returns all git credentials for the specified team. Authentication tokens are never included in the response for security reasons.
      operationId: getTeamGitCredentials
      responses:
        200:
          description: List of git credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitCredentialResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
    post:
      tags:
        - Team Git Credentials
      summary: Create git credentials for a team
      description: Creates new git credentials for the specified team.
      operationId: createTeamGitCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCredentialCreateRequest'
      responses:
        201:
          description: Git credential successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        400:
          $ref: "#/components/responses/BadRequestValidation"
          description: Validation error
        404:
          $ref: "#/components/responses/NotFound"
          description: Team not found
        409:
          $ref: "#/components/responses/Conflict"
          description: A credential with the same `externalId` already exists in this organization, or a credential with the same token, type, and host already exists at this level
  /api/teams/{teamExternalId}/gitcredentials/{gitCredentialId}:
    parameters:
      - name: teamExternalId
        in: path
        description: The external identifier of the team
        required: true
        example: marketing
        schema:
          type: string
      - name: gitCredentialId
        in: path
        description: The UUID of the git credential
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Team Git Credentials
      summary: Get a git credential
      description: Returns a single git credential. Authentication tokens are never included in the response for security reasons.
      operationId: getTeamGitCredential
      responses:
        200:
          description: The git credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        404:
          $ref: "#/components/responses/NotFound"
          description: Team or git credential not found
    put:
      tags:
        - Team Git Credentials
      summary: Update a git credential
      description: Updates an existing git credential. If authenticationToken is omitted or blank, the existing token is preserved.
      operationId: updateTeamGitCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCredentialUpdateRequest'
      responses:
        200:
          description: Git credential successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        400:
          $ref: "#/components/responses/BadRequestValidation"
          description: Validation error
        404:
          $ref: "#/components/responses/NotFound"
          description: Team or git credential not found
        409:
          $ref: "#/components/responses/Conflict"
          description: A credential with the same `externalId` already exists in this organization, or a credential with the same token, type, and host already exists at this level
    delete:
      tags:
        - Team Git Credentials
      summary: Delete a git credential
      operationId: deleteTeamGitCredential
      responses:
        204:
          description: Git credential was deleted
        404:
          $ref: "#/components/responses/NotFound"
          description: Team or git credential not found
  /api/organization/features:
    get:
      tags:
        - Organization
      summary: Get organization feature configuration
      description: |
        Returns the organization's portable feature configuration, suitable for replicating an
        organization's setup across instances. The data-contract test-runner credentials
        (`dataContractTestsApiKey`, `dataContractTestsApiEndpoint`) and transient onboarding state
        (`showIntro`) are intentionally excluded. Requires an `organization`- or `organization_read`-scoped API key.
      operationId: getOrganizationFeatures
      responses:
        200:
          description: The organization feature configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationFeatures'
    put:
      tags:
        - Organization
      summary: Update organization feature configuration
      description: |
        Replaces the managed feature configuration with the request. Fields omitted from the request
        are set to their default (null). The test-runner credentials and `showIntro` are never modified
        by this endpoint. Requires an `organization`-scoped API key.
      operationId: putOrganizationFeatures
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationFeatures'
      responses:
        200:
          description: The updated organization feature configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationFeatures'
  /api/organization/settings:
    get:
      tags:
        - Organization
      summary: Get organization settings
      description: |
        Returns the settings of the organization that the API key is bound to.
        Accepts any API key scope (`organization`, `organization_read`, `team`, `team_read`, `user`, `user_read`).
      operationId: getOrganizationSettings
      responses:
        200:
          description: The organization settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSettings'
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - missing or invalid API key
        404:
          $ref: "#/components/responses/NotFound"
          description: Organization not found
  /api/organization/gitcredentials:
    get:
      tags:
        - Organization Git Credentials
      summary: Get all organization git credentials
      description: |
        Returns all git credentials for the organization. Authentication tokens are never included in the response for security reasons.
        Requires an organization-scoped API key (`organization` or `organization_read`).
      operationId: getOrganizationGitCredentials
      responses:
        200:
          description: List of git credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitCredentialResponse'
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - requires organization-scoped API key
    post:
      tags:
        - Organization Git Credentials
      summary: Create organization git credentials
      description: |
        Creates new git credentials at the organization level.
        Requires an organization-scoped API key with write access (`organization` scope).
      operationId: createOrganizationGitCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCredentialCreateRequest'
      responses:
        201:
          description: Git credential successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        400:
          $ref: "#/components/responses/BadRequestValidation"
          description: Validation error
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - requires organization-scoped API key with write access
        409:
          $ref: "#/components/responses/Conflict"
          description: A credential with the same `externalId` already exists in this organization, or a credential with the same token, type, and host already exists at this level
  /api/organization/gitcredentials/{gitCredentialId}:
    parameters:
      - name: gitCredentialId
        in: path
        description: The UUID of the git credential
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Organization Git Credentials
      summary: Get an organization git credential
      description: |
        Returns a single organization git credential. Authentication tokens are never included in the response for security reasons.
        Requires an organization-scoped API key (`organization` or `organization_read`).
      operationId: getOrganizationGitCredential
      responses:
        200:
          description: The git credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - requires organization-scoped API key
        404:
          $ref: "#/components/responses/NotFound"
          description: Git credential not found
    put:
      tags:
        - Organization Git Credentials
      summary: Update an organization git credential
      description: |
        Updates an existing organization git credential. If authenticationToken is omitted or blank, the existing token is preserved.
        Requires an organization-scoped API key with write access (`organization` scope).
      operationId: updateOrganizationGitCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCredentialUpdateRequest'
      responses:
        200:
          description: Git credential successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCredentialResponse'
        400:
          $ref: "#/components/responses/BadRequestValidation"
          description: Validation error
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - requires organization-scoped API key with write access
        404:
          $ref: "#/components/responses/NotFound"
          description: Git credential not found
        409:
          $ref: "#/components/responses/Conflict"
          description: A credential with the same `externalId` already exists in this organization, or a credential with the same token, type, and host already exists at this level
    delete:
      tags:
        - Organization Git Credentials
      summary: Delete an organization git credential
      description: |
        Deletes an organization git credential.
        Requires an organization-scoped API key with write access (`organization` scope).
      operationId: deleteOrganizationGitCredential
      responses:
        204:
          description: Git credential was deleted
        403:
          $ref: "#/components/responses/Forbidden"
          description: Forbidden - requires organization-scoped API key with write access
        404:
          $ref: "#/components/responses/NotFound"
          description: Git credential not found
  /api/sourcesystems:
    get:
      tags:
        - Source Systems
      summary: Get all source systems
      operationId: getSourceSystems
      parameters:
        - in: query
          name: p
          schema:
            type: integer
            minimum: 0
          required: false
[...]
